@import url(http://fonts.googleapis.com/css?family=Dosis:200);
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie|Noticia+Text);

$headlineFont: 'Dosis', Helvetica, Ariel, sans-serif;
$bodyFont: 'Noticia Text', Georgia, serif;
$handFont: 'Reenie Beanie', Georgia, serif;

/* FONT-SIZES */
$bodySize: 18px;
$handSize: $bodySize * 3;