/* Translate Mixin (maximum responsiveness) */
@mixin transform($transforms) {
   -moz-transform: $transforms;
     -o-transform: $transforms;
    -ms-transform: $transforms;
-webkit-transform: $transforms;
        transform: $transforms;
}
@mixin transition($property, $time) {
   -moz-transition: $property $time;
     -o-transition: $property $time;
-webkit-transition: $property $time;
        transition: $property $time;
}

@mixin translate($x, $y) {
   @include transform(translate($x, $y));
}


/* BOX SHADOW MIXIN */
@mixin box-shadow($left, $top, $blur, $spread, $colour, $inset:"") {
-webkit-box-shadow: $left $top $blur $spread unquote($colour) unquote($inset);
        box-shadow: $left $top $blur $spread unquote($colour) unquote($inset);
}