.block-wrapper {
    position: relative;
    z-index: 2;
    background-color: black;

    & > a {
        &:link {
            .block {
                opacity: 0.6;
                @include transition(all, 300ms);
            }
        }
        &:hover {
            .block {
                opacity: 1;
                @include transition(all, 300ms);
            }
        }
    }
    
    &:nth-child(even) {
        float: left;
        width: 49%;
    }
    &:nth-child(odd) {
        float: right;
        width: 49%;
    }
    &:first-child {
        width: 100%;
        float: none;
    }
    &:last-child {
        float: none;
        clear: both;
        width: 100%;
    }

    @include respond(smallscreen) {
        & > a {
            &:link {
                .block {
                    opacity: 1; 
                } 
            } 
        }
    }
    @include respond(tablet) {
        &:nth-child(even) {
            float: none;
            width: 100%;
        }
        &:nth-child(odd) {
            float: none;
            width: 100%;
        }
        &:first-child {
            width: 100%;
            float: none;
        }
        &:last-child {
            float: none;
            width: 100%;
        }
    }
}

.port-title {
    position: absolute;
    margin-bottom: 0;
    text-align: center;
    bottom: 0;
    left: 50%;
    width: 100%;
    padding: 5px 0;
    background-color: $red;
    border: solid 1px $red;
        // Red border prevents a visual glitch where the under-colour peeps at the edges.
    z-index: 2;

    @include translate(-50%, 0);

    a {
        padding-bottom: 10px;
        text-decoration: none;
        color: $pink;
        font-family: $headlineFont;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:visited {
            color: $white;
        }
        &:hover {
            text-decoration: underline;
        }
        &:active {
            color: $pink;
        }
    }
}

.block {
    height: 200px;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:first-child {
        height: 300px;
    }
}



