#nav.nav
    ul.navbar-list
        li
            a(href="/") 
                i.fa.fa-home
                span Home
        li
            a(href="/portfolio") 
                i.fa.fa-newspaper-o
                span Portfolio
        li
            a(href="#") 
                i.fa.fa-envelope
                span Contact