@import url(http://fonts.googleapis.com/css?family=PT+Serif);

body {
  background-color: rgb(104, 21, 21);
  font-family: 'PT Serif', serif;
  -webkit-box-shadow: inset 0px 0px 40px 0px rgb(0,0,0);
  -moz-box-shadow: inset 0px 0px 40px 0px rgb(0,0,0);
  box-shadow: inset 0px 0px 40px 0px rgb(0,0,0);
  height: 100vh;
  margin: 0;
}

.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1, h3, p {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 8em;
  font-weight: 400;
  color: #232323;
  padding-top: 1em;
}

h3 {
  font-size: 4em;
  color: #333;
}

p {
  font-size: 1em;
  margin-top: 4em;
  color: #111;
  margin-top: 3em;
}