<ul class="navbar">
    <li><a tabindex="1" href="/">Home</a></li>

    <li class="dropdown">
        <a tabindex="2" href="#" class="dropdown__toggle"  aria-haspopup="true" aria-expanded="false">Portfolio</a>

        <ul class="dropdown__menu">
            <li class="dropdown__sub-menu left"><a tabindex="3" href="#">Tattoos</a></li>
            <li class="dropdown__sub-menu right"><a tabindex="4" href="#">Art</a></li>
        </ul>

    </li>

    <li><a tabindex="5" href="/contact">Contact</a></li>
</ul>