<ul class="navbar">
    <li><a tabindex="1" href="/">Home</a></li>

    <li class="dropdown">
        <a tabindex="2" href="#" class="dropdown__toggle"  aria-haspopup="true" aria-expanded="false">Portfolio</a>

        <ul class="dropdown__menu">
            <li class="dropdown__sub-menu left tattoos">
                <div class="filter">
                    <a tabindex="3" href="#">Tattoos</a>
                </div>
            </li>
            <li class="dropdown__sub-menu right art">
                <div class="filter">
                    <a tabindex="4" href="#">Art</a>
                </div>
            </li>
        </ul>

    </li>

    <li><a tabindex="5" href="/contact">Contact</a></li>
</ul>