/* Landing Page Layout */

.landing-wrapper {
  height: auto;
  background-color: #000;
  padding: 5em 0 8.5em;
  background-image: url('../img/bckgrnd.png');
  background-size: cover;
  background-origin: padding-box;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -5px;

  @include respond(smallscreen) {
    padding-left: 15px;
    padding-right: 15px;
    padding:5em 0 6em;
  }
  @include respond(tablet) {
    background-size: 150%;
    padding: 8em 0 4em;
  }
  @include respond(mobile) {
    background-size: 280%;
    padding: 7em 0 4em;
  }
}