include _partials/nav.jade
.panel
    .article
        h1 Get in Touch
        h1 Find me
        ul.social-links
            li
                a(href="https://www.facebook.com/GracefulAntics" target="_blank")
                    i.fa.fa-facebook
            li
                a(href="https://instagram.com/gracemarie18291/" target="_blank")
                    i.fa.fa-instagram
        
        