#splash.landing-wrapper.panel
    h1#famous.famous #{name}
    h2#subtitle.subtitle Tattoo Artist
.nav
    include partials/nav
#fold.panel(style="height: 100vh;")
    h1.famous Page 2
// Happy Birthday