.thumbs {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.thumb {
    display: table-cell;
    padding: 0 1px;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }

    img {
        margin-bottom: 0;
    }
}