include _partials/nav.jade
.panel
    .article
        h1 Get in Touch
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati expedita veritatis excepturi, maxime voluptatum nemo, laudantium aspernatur id dignissimos quos, commodi quod ab numquam reiciendis quis aliquam blanditiis ullam non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ducimus corrupti commodi mollitia eligendi a reprehenderit saepe, eum cupiditate harum minima, sunt dolore ratione nisi tempora modi hic non. Sunt.
        h1 Find me
        p Here are my social links
        ul
            li
                a(href="https://www.facebook.com/GracefulAntics" target="_blank")
                    i.fa.fa-facebook
            li
                a(href="https://instagram.com/gracemarie18291/" target="_blank")
                    i.fa.fa-instagram
        
        