#splash.landing-wrapper.panel
    h1#famous.famous #{name}
    h2#subtitle.subtitle Tattoo Artist
include _partials/landing-nav
include _partials/landing
script(src="https://code.jquery.com/jquery-1.11.2.min.js")
script(src="js/main.js")