.landing-panel {
    background-image: url('../img/ram-landing.jpg');
    background-repeat: no-repeat;
    background-position: 125% 0;
    background-size: contain;
    .article {
        margin-left: 0;
        padding-left: 10%;
        padding-right: 10%; 
    }
    @include respond(tablet) {
        background-image: none;
        margin-left: auto;
    }
}