#splash.landing-wrapper.panel
    h1#famous.famous Grace Arena
    h2#subtitle.subtitle Tattoo Artist
.nav
    ul.navbar-list
        a(href="#"): li Portfolio
        a(href="#"): li Contact
#fold.panel(style="height: 500px;")
    h1.famous Page 2
// Happy Birthday