#splash.landing-wrapper.panel
    h1.famous Grace Arena
    h2.subtitle Tattoo Artist
.nav
    ul.navbar-list
        a(href="#"): li Portfolio
        a(href="#"): li Contact
#fold.panel(style="height: 500px;")
    h1.famous Portfolio
// Happy Birthday

