@import url(http://fonts.googleapis.com/css?family=Dosis:200);

body {
  // -webkit-box-shadow: inset 0px 0px 40px 0px rgb(0,0,0);
  // -moz-box-shadow: inset 0px 0px 40px 0px rgb(0,0,0);
  // box-shadow: inset 0px 0px 40px 0px rgb(0,0,0);
  height: 100%;
  margin: 0;
  padding: 0;
}

.landing-wrapper {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  height: 60vh;
  background-color: #000;
  padding: 10em 0;
  background-image: url('img/bckgrnd.png');
  background-size: cover;
  background-origin: padding-box;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -5px;
}

.famous {
  color: rgba(230,214,214,0.8);
  text-align: center;
  z-index: 999;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14em;
  font-weight: initial;
  font-family: 'Dosis',sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -10px;
  line-height: 1;
}

@media (max-width: 1200px) {
  .landing-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .famous {
    font-size: 11em;
  }
}

@media (max-width: 766px) {
  .landing-wrapper {
    background-size: 150%;
  }
  .famous {
    font-size: 7.5em;
    letter-spacing: initial;
  }        
}

@media (max-width: 440px) {
  .landing-wrapper {
    background-size: 280%;
  }
  .background {
    width: 200%;
    position: absolute;
    top: 0;
    left: -50%;
  }
  .famous {
    font-size: 6em;
  }
}