.article {
    display: block;
    margin: auto;
    width: 50%;
    padding: 2em 5%;
    font-family: $bodyFont;
    background-color: white;

    @include respond(smallscreen) {
        width: 55%;
        padding-left: 10%;
        padding-right: 10%;
    }
    @include respond(tablet) {
        width: 80%;
    }

    * {
        margin: 0 0 1em;
    }
    
    h1 {
        font-family: $handFont;
        font-size: $handSize;
        margin-bottom: 0.5em;
        margin-top: 0.75em;
    }

    p {
        font-size: $bodySize;
        text-align: justify;
        &:last-of-type {
            margin-bottom: 2em;
        }

        @include respond(mobile) {
            font-size: $bodySize * 0.9;
        }
    }
}