.panel
    .article
        h1 Hello
        p I'm Grace.
        p I am a freelance artist.
        p I specialise in tattoo design.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste iusto molestias sed, libero, pariatur eius? Aperiam, nostrum explicabo cumque aliquid inventore error non unde, iste ducimus! Pariatur odit maxime nesciunt!
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio qui molestiae, illum sunt dolorem. Similique quae tenetur praesentium velit consequatur impedit accusamus nihil blanditiis numquam doloremque esse, quod, neque fuga?
        h1 My style
        p is something you wont see anywhere else. 
        p is me.