ul.navbar {
    max-width: 33rem;
    height: 4.063em;

    margin: auto;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}
    li {
        display: inline-block;
        margin-left: 12%;

        color: $lightGrey;

        font-family: 'American Typewriter', Courier, 'Courier New', monospace;
        font-size: 1.125rem; // 18px
        font-weight: 300;

        text-transform: uppercase;
        letter-spacing: 5px;

        a:link {
            color: $lightGrey;
            text-decoration: none;
        }
        a:visited {
            color: $lightGrey;
        }
        a:hover {
            color: $pink;
        }
        a:active {
            text-decoration: line-through;
            color: $pink;
        }
        a:focus {
            text-decoration: line-through;
        }
    }


        a.dropdown__toggle:active,
        a.dropdown__toggle:focus {

            & + ul.dropdown__menu {
                display: block;
            }
        }
           
        ul.dropdown__menu {
            display: none;

            &::after {
                content: "";
                clear: both;
                display: block;
            }
        }

            li.dropdown__sub-menu {
                width: 100%;
                max-width: 34.375rem;
                max-width: 50%;
                height: 15.625rem; 

                margin: auto;
                position: absolute;

                font-size: 1.5rem;

                background-repeat: no-repeat;
                background-size: 100%;
                background-position-y: 50%;

                &.left {
                    left: 50%;
                    @include translate(-100%, 7.5%);
                }
                &.right {
                    right: 50%;
                    @include translate(100%, 7.5%);
                }
                &.tattoos {
                    background-image: url('../img/Cheshire-catNAVBAR.png');
                }
                &.art {
                    background-image: url('../img/leonNAVBAR.jpg');
                    background-position-y: 30%;
                }
            }
                div.filter {
                    background: rgba(43,43,43,0.69);
                    width: 100%;
                    height: 100%;

                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    
                    -webkit-justify-content: center;
                    justify-content: center;
                    
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    align-items: center;

                    a {
                        display: block;
                        text-transform: capitalize;
                        letter-spacing: 10px;
                    }
                }